</div>
  </body>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>

<!-- JQUERY-->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- Location picker  -->
<script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCqMJiZfkSi8qWpPiuzUjbuJGWbW39ilV4&libraries=places'></script>
<script type="text/javascript" src="http://rawgit.com/Logicify/jquery-locationpicker-plugin/master/dist/locationpicker.jquery.js"></script>

<!-- PARSLEY-->
<script src="https://parsleyjs.org/dist/parsley.min.js"></script>

<!-- Jquery ajax form from maslab -->
<script src="https://malsup.github.io/min/jquery.form.min.js"></script>
<!-- =============== MAIN SCRIPTS ===============-->
<script src="/js/main.js"></script>
</html>